<div ng-include="'partials/navbar.html'"></div>

<div class="row">
    <div class="col-sm-12">
        <h1><%=formalEntityName</h1>
    </div>
    <div class="col-sm-12">

    <form class="form" name="form" ng-submit="editEntity(form)" novalidate>

        <%
        var totalCounter = 0, counter = 0;
        _.forIn(globalModel, function(value, key) { totalCounter++; });
        _.forIn(model, function(value, key) { totalCounter++; });
        %>
        <% _.forIn(globalModel, function(value, key) { %>
        <%= key%>: <%= value%><% if(counter++<totalCounter-1) {%>,<%} }); %><% _.forIn(model, function(value, key) { %>
        <%= key%>: <%= value%><% if(counter++<totalCounter-1) {%>,<%} }); %>
        });




        <div class="form-group">
            <label>Blah</label>

            <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
            mongoose-error/>
            <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.other }}
            </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
    </form>
    </div>
</div>
